.global-footer{
    background-color: #0e416b;
    color: #FFF;
    text-align: center;
    
    .row {
        text-align: center;
    }
    a {
        color: #FFF;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .menu-footer-navigation-container {
        width: 100%;
        padding: 75px 0 70px;
        text-transform: uppercase;
        ul {
            padding: 0;
        }
        li {
            display: inline-block;
            list-style: none;
            position: relative;
            padding: 0 17px 0 15px;
            &:after {
                content: '';
                position: absolute;
                top: 3px;
                right: 0;
                height: 18px;
                width: 2px;
                background: #FFF;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    .footer-social {
        width: 100%;
        padding-bottom: 75px;
        .connect {
            color: $green;
            font-size: 28px;
            font-weight: bold;
        }
        .fa {
            font-size: 34px;
            padding: 15px 15px 0;
        }
    }
    .footer-second {
        width: 100%;
        background-color: $tb-blue;
        padding: 25px 0;
        color: #006bb3;
    }
}