// @import '../../site-settings.scss' 

section {
	max-width: 100%;
	overflow: hidden;
	&.tabbed {
		overflow: unset;
	}
}

iframe {
	max-width: 100%;
}
/*=================================
Typography
=================================*/
h1{font-size: $h1-font-size;}
h2{font-size: $h2-font-size;}
h3{font-size: $h3-font-size;}
h4{font-size: $h4-font-size;}
h5{font-size: $h5-font-size;}
h6{font-size: $h6-font-size;}

p{
	font-size: $global-font-size;
	color: $global-font-color;
	font-family: $global-font;
}

/*=================================
 STYLES
=================================*/

body {
	margin-top: 140px;
	font-family: $global-font;
	color: $global-font-color;
	font-size: $global-font-size;
	text-align: left;
}

section {
	padding: 75px 0;
	background-size: cover;
	background-repeat: no-repeat;
	&.no_padding {
		padding: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}
/*
 * Colors
 */
.green {color: $green;}
.green-bg {
	background-color: $green;
	color:$black;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$black;
	}
}
.gold-yellow {color: $gold-yellow;
}
.gold-yellow-bg {
	background-color: $gold-yellow;
	color:$black;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$black;
	}
}
.orange {color: $orange;}
.orange-bg {
	background-color: $orange;
	color:$black;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$black;
	}
}
.lt-blue {color: $lt-blue;}
.lt-blue-bg {
	background-color: $lt-blue;
	color:$black;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$black;
	}
}
.blue {color: $blue;}
.blue-bg {
	background-color: $blue;
	color:$white;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$white;
	}
}
.dk-blue {color: $dk-blue;}
.dk-blue-bg {
	background-color: $dk-blue;
	color:$white;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$white;
	}
}
.tb-blue {color: $tb-blue;}
.tb-blue-bg {
	background-color: $tb-blue;
	color:$white;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$white;
	}
}

.white {color: $white;}
.white-bg {
	background-color: $white;
	color: $global-font-color;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color: $global-font-color;
	}
}

.gray {color: $gray;}
.gray-bg {
	background-color: $gray;
	color: $global-font-color;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color: $global-font-color;
	}
}

.bg-img {
	color: $white;
	background-attachment: fixed;
	background-position: 50%;
	> div,section,article,header,footer,a,form,table,tr,td,th,p,h1,h2,h3,h4,h5,h6,span,blockquote,button,ul,ol {
		color:$white;
	}
	.btn {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	&.banner {
		background-attachment: initial;
	}
}

/*
 * Headings
 */

h1, .h1 {
	//color:$primary-color;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $global-font;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.title {
	font-size: 50px;
	text-align: center;
	line-height: 1;
	font-family: $global-font;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 30px;
}

/**
 * Text meant only for screen readers
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* BUTTONS */
.btn, 
input[type="submit"],
input[type="button"],
.green-bg .btn,
.gold-yellow-bg .btn,
.orange-bg .btn,
.lt-blue-bg .btn,
.blue-bg .btn,
.dk-blue-bg .btn,
.tb-blue-bg .btn,
.white-bg .btn,
.gray-bg .btn,
.bg-img .btn {
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-family: #FFF;
	font-weight: bold;
	line-height: 1;
	color: $white;
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 14px 50px 14px 50px;
	margin-bottom: 10px; 
	margin-right: 2%;
	vertical-align: middle;
	border-radius: 0;
	white-space: normal;
	overflow: hidden;
	text-transform: uppercase;

	background: linear-gradient(to left, $lt-blue 50%, $gold-yellow 50%);
	background-size: 220% 120%;
	background-position:right bottom;
	transition:all 0.2s ease;

	-webkit-box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
	box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);

	&:hover {
		background-position:left bottom;
		color: #FFF;
	}

	&.gform_button {
		background: linear-gradient(to left, $orange 50%, $gold-yellow 50%);
		background-size: 220% 120%;
		background-position:right bottom;
		transition:all 0.2s ease;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}
	}

	&.gform_next_button, &.gform_previous_button {
		background: linear-gradient(to left, $lt-blue 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}          
	}

	&.green-dark {
		background: linear-gradient(to left, $green-dark 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}
	}
	&.green {
		background: linear-gradient(to left, $green 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}      
	}
	&.gold-yellow {
		background: linear-gradient(to left, $gold-yellow 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}    
	}
	&.orange {
		background: linear-gradient(to left, $orange 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}   
	}
	&.lt-blue {
		background: linear-gradient(to left, $lt-blue 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}          
	}
	&.blue {
		background: linear-gradient(to left, $blue 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}      
	}
	&.dk-blue {
		background: linear-gradient(to left, $dk-blue 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}     
	}
	&.tb-blue {
		background: linear-gradient(to left, $tb-blue 50%, $gold-yellow 50%);
		background-size: 200% 100%;
		background-position:right bottom;
		&:hover {
			background-position:left bottom;
			color: #FFF;
		}
	}

}


.alt-text-container {
	padding: 0 20px;
}

.clearfix {
	width: 100%;
	clear: both;
	float: none;
	height: 1px;
}

blockquote {
	margin-left: 2rem;
}