.gform_save_link {
    color: $orange !important;
    text-decoration: underline;
}

.gform_wrapper .gform_page_footer {
    border: none !important;
}

.gf_progressbar {
    background-color: $white !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    padding: 0 !important;
}
.gform_wrapper .gf_progressbar:after {
    display: none !important;
}
.gform_wrapper .gf_progressbar_percentage {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background: $green !important;
    background-color: $green !important;
}

.gform_wrapper .percentbar_blue {
    background-color: $green !important;
}

.gfield_label {
    display: none !important;
}

.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 8px 4px !important;
}

@media only screen and (min-width: 641px) {
    .gform_wrapper .gform_body {
        width: 65% !important;
        float: left !important;
    }
    .gform_wrapper .gform_footer {
        clear: none !important;
        width: auto !important;
    }
    .multi-step_wrapper{
        &.gform_wrapper .gform_body {
            width: 100% !important;
            float: none !important;
        }
        &.gform_wrapper .gform_footer {
            clear: both !important;
            width: 100% !important;
        }
    }
    
}

@media only screen and (min-width: 1024px) {
    .gform_wrapper .gform_body {
        width: 80% !important;
        float: left !important;
    }
    .gform_wrapper .gform_footer {
        clear: none !important;
        width: auto !important;
    }
    .multi-step_wrapper{
        &.gform_wrapper .gform_body {
            width: 100% !important;
            float: none !important;
        }
        &.gform_wrapper .gform_footer {
            clear: both !important;
            width: 100% !important;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .gform_wrapper .gform_body {
        width: 84% !important;
        float: left !important;
    }
    .gform_wrapper .gform_footer {
        clear: none !important;
        width: auto !important;
    }
    .multi-step_wrapper{
        &.gform_wrapper .gform_body {
            width: 100% !important;
            float: none !important;
        }
        &.gform_wrapper .gform_footer {
            clear: both !important;
            width: 100% !important;
        }
    }
}


.gform_wrapper div.validation_error {
    color: $white !important;
    border-color: $white !important;
}

.gform_wrapper .validation_message, .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    color: $white !important;
}

.gform_wrapper .field_description_below .gfield_description {
    padding: 0 !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: $tb-blue !important;
    border-top: 1px solid $dk-blue!important;
    border-bottom: 1px solid $dk-blue!important;
    color: $white !important;
}


.gform_wrapper .form_saved_message {
    background-color: transparent!important;
}

div.form_saved_message div.form_saved_message_emailform form input {
    margin: 0!important;
}

.form_saved_message_sent {
    background-color: transparent!important;
}