.global-header{
	.navbar {
		padding: 2rem 1rem;
		border-bottom: 10px solid #cbd82b;
	}
	.navbar-brand {
		margin-left: 50px;
		@media (max-width: 576px) {
			margin-left: 20px;
			max-width: 60%;
		}
	}
	.dropdown-menu {
		border: none;
		background-color: #f8f9fa;
		.dropdown-item-container {
			position: relative;
			.dropdown-item-3 {
				position: absolute;
				z-index: 999;
				max-width: 0px;
				top: -55%;
				left: 0;
				overflow-x: hidden;
				background-color: #f8f9fa;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				pointer-events: none;
				a {
					margin-bottom: 10px;
					@media (max-width: 992px) {
						font-size: 0.9em;
					}
				}
				@media (max-width: 992px) {
					position: inherit;
					display: block;
					max-width: 100%;
				}
			}
			&:hover {
				.dropdown-item-3 {	
					pointer-events: inherit;
					animation: dropdown-item-3-show 0.5s forwards ease; 
					@media (max-width: 992px) {
						animation: none;
					}
				}
			}
		}
		.dropdown-item {
			color: #000;
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 1rem;
			&:hover {
				color:#35c0ed;
			}
			@media (max-width: 576px) {
				font-size: 0.9em;
			}
			&.active, &:active {
				color: #35c0ed;
				background: inherit;
			}
		}
	}
	.navbar-nav:last-child {
		margin-right: 20px;
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000;
		font-size: 1em;
		padding: 0 20px;
		text-transform: uppercase;
		font-weight: 600;
		&:hover {
			color:#35c0ed;
		}
		@media screen and (max-width: 992px) {
			width: 80%;
		}
		@media (max-width: 576px) {
			font-size: 0.9em;
			width: 70%;
		}
	}
	.navbar-toggler-icon {
		background-image: none;
		display: block;
		width: auto;
		height: auto;
		content: inherit;
		background: none;
		background-size: inherit;
		.navbar-toggler {
			border: none;
		}
	}
	.hamburger {
        display: block;
        position: absolute;
        margin: -8px 40px 0 0;
        right: 0;
        width: 40px;
        a {
	      	@media screen and (max-width: 992px) {
	        	margin-right: 0;
	      	}
        }
        .icon {
          	padding: 0;
          	.bars {
	            height: 40px;
	            width: 40px;
	            position: relative;
	            -webkit-transform: rotate(0deg);
	            -moz-transform: rotate(0deg);
	            -o-transform: rotate(0deg);
	            transform: rotate(0deg);
	            -webkit-transition: .5s ease-in-out;
	            -moz-transition: .5s ease-in-out;
	            -o-transition: .5s ease-in-out;
	            transition: .5s ease-in-out;
	            cursor: pointer;
	            span {
              		display: block;
	              	position: absolute;
	              	height: 5px;
	              	width: 100%;
	              	background:#000;
	              	border-radius: 10px;
	              	opacity: 1;
	              	left: 0;
	              	-webkit-transform: rotate(0deg);
	              	-moz-transform: rotate(0deg);
	              	-o-transform: rotate(0deg);
	              	transform: rotate(0deg);
	              	-webkit-transition: .25s ease-in-out;
	              	-moz-transition: .25s ease-in-out;
	              	-o-transition: .25s ease-in-out;
	              	transition: .25s ease-in-out;
	            }
            	span:nth-child(1) {
              		top: 5px;
            	}
            	span:nth-child(2), span:nth-child(3) {
              		top: 19px;
            	}
            	span:nth-child(4) {
              		top: 33px;
            	}
            	&.open {
              		span:nth-child(1) {
                		top: 19px;
		                width: 0%;
		                left: 50%;
              		}
	              	span:nth-child(2) {
		                -webkit-transform: rotate(45deg);
		                -moz-transform: rotate(45deg);
		                -o-transform: rotate(45deg);
		                transform: rotate(45deg);
	              	}
              		span:nth-child(3) {
		                -webkit-transform: rotate(-45deg);
		                -moz-transform: rotate(-45deg);
		                -o-transform: rotate(-45deg);
		                transform: rotate(-45deg);
              		}
              		span:nth-child(4) {
		                top: 19px;
		                width: 0%;
		                left: 50%;
              		}
            	}
          	}
        }
    }

// Search
	.search-form{
	    float: right;
	    margin: 0;
	    padding: 0;
	    width:50px;
	    max-width: 1000px;
	    top: 50%;
	    right:20px;
	    margin-right: 10px;
	    @media (max-width: 992px) {
			width: 94%!important;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-top: 40px;
	    }
	    @media (max-width: 576px) {
			margin-top: 20px;
	    }
	    .searchbox{
		    position:relative;
		    min-width:42px;
		    width:0%;
		    height:42px;
		    float:right;
		    overflow:hidden;
		    
		    -webkit-transition: width 0.3s;
		    -moz-transition: width 0.3s;
		    -ms-transition: width 0.3s;
		    -o-transition: width 0.3s;
		    transition: width 0.3s;
		    @media (max-width: 992px) {
				width: 100%!important;
				height: 62px;
				padding: 10px 0;
				margin-bottom: 0;
		    }
		}
		.search-form__input{
		    top: 0;
		    right: 0;
		    border: 0;
		    outline: 0;
		    background-color: #eee;
		    width: 100%;
		    height: 42px;
		    margin: 0;
		    padding: 6px 12px;
		    font-size: 18px;
		    color: #000;
		    &:-webkit-input-placeholder {
		    	color: green;
			}
			&:-moz-placeholder {
		    	color: green;
			}
			&:-ms-input-placeholder {
		    	color: green;
			}
			@media (max-width: 992px) {
				background-color: #f8f9fa;
				padding: 6px 22px;
		    }
		    @media (max-width: 768px) {
				padding: 6px 42px;
		    }
		    @media (max-width: 576px) {
				padding: 6px 52px;
		    }
		}
		.searchbox-icon, .search-form__submit{
		    width: 50px;
		    height: 42px;
		    display: block;
		    position: absolute;
		    top: 0;
		    font-family: verdana;
		    font-size: 29px;
		    right: 0;
		    padding: 0;
		    margin: 0;
		    border: 0;
		    outline: 0;
		    line-height: 36px;
		    text-align: center;
		    cursor: pointer;
		    color: #35c0ed;
		    background-color: #f8f9fa;
		    box-shadow: none;
		    background-image: none;
		    @media (max-width: 992px) {
				top: 10px;
		    }
		}
		.searchbox-icon {
		  border:none;
		}
		.searchbox-icon:hover {
		    color: #35c0ed;
		    background-color: #f8f9fa;
		}
		.searchbox-iconActive {
		    color: #35c0ed;
		    background-color: #f8f9fa;
		}
		.searchbox-open{
		    width: 100%;
		}
	}
	.search-form-open {
		position: absolute;
	    width:60%;
	    transform: translateY(-50%);
	    margin-right: 6px;
	}
	#menu-main-navigation {
		@media (max-width: 992px) {
			margin-top: 110px;
	    }
	    @media (max-width: 576px) {
			margin-top: 90px;
		}
		@media (max-width: 450px) {
			margin-top: 100px;
		}
	    .menu-item {
	    	@media (max-width: 992px) {
		    	border-bottom: 1px solid #ccc;
		    	padding: 20px 0;
		    	&:last-of-type {
		    		border-bottom: none;
		    	}
		    	.dropdown-item {
		    		margin-top: 10px;
		    	}
		    }
	    }
	}
	.dropdown-toggle {
		display: inline-block;
		&:after {
			content: none;
		}
	}
	.menu-item-has-children > span {
		@media (max-width: 992px) {
			width: 20%;
			height: auto;
			display: inline-block;
			cursor: pointer;
			vertical-align: middle;
		}
		@media (max-width: 576px) {
			width: 30%;
		}
	}
	.menu-item-has-children > span:after {
		@media (max-width: 992px) {
			content: "";
			width: 0;
			height: 0;
			margin-left: 0.255em;
			vertical-align: 0.255em;
			float: right;
			border: solid black;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 7px;
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
			transition: all 0.5s ease;
			margin-top: 8px;
			margin-right: 15px;
		}
	}
	.menu-item-has-children > span.rotate:after {
		@media (max-width: 992px) {
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transition: all 0.5s ease;
			margin-top: 0;
		}
	}
	@media (max-width: 992px) {
	    .header-img {
	        padding-left: 0;
	    }
	    .searchVis {
			display: none;
	    }
	    .search-form {
	        position: absolute;
	        top: 100px;
	        transform: none;
	        left: auto;
	        right: 25px;
	    }
	    .searchbox{
	    min-width: 34px;
	    height: 34px;
	    }
	    .search-form__input{
	    height: 34px;
	    font-size: 14px;
	    }
	    .searchbox-icon,
	    .search-form__submit{
	    width: 34px;
	    height: 34px;
	    font-size: 18px;
	    line-height: 28px;
	    }
	}
}
@media (min-width: 992px) {
	.dropdown-toggle::after {
	    display:none;
	}
}

.dropdown-menu .dropdown-menu{
left: 100%;
top: 0;
}

.dropdown-menu:hover > .dropdown-menu, .dropdown-menu:focus > .dropdown-menu{
display: block
}

@keyframes dropdown-item-3-show {
	0% {max-width:0px;left:0;}
	1% {max-width:0px;left:95%;}
	100% {max-width:100%;left:95%;}
}