.logged-in-nav{
	position: fixed;
	bottom: 0;
	background-color: rgba(21,157,238,.75);
	ul{
		padding-left: 0;
		li{
			float: left;
			padding: 10px;
			list-style: none;
			a{
				color: $secondary-color;
			}
		}
	}
}