

/*=================================
Color
=================================*/
$primary-color       : #3d3d3d;
$secondary-color     : #ed1c24;
$tertiary-color      : #eeeeee;
$callout             : #ebebeb;
$success-color       : #3adb76;
$warning-color       : #ffae00;
$alert-color         : #ed1c24;
$black               : #0a0a0a;
$white               : #ffffff;

$green-dark 		 : #a6b218;
$green       		 : #cbd82b;
$gold-yellow     	 : #ffd03e;
$orange      		 : #ff891d;
$lt-blue             : #35c0ed;
$blue       		 : #006bb3;
$dk-blue       		 : #0e416b;
$tb-blue         	 : #0e2a46;

$gray                : #f2f2f2;

/*=================================
Typography
=================================*/
$open-sans: 'Open Sans', sans-serif;
$large-font-size: 18px;
$global-font-size: 16px;
$small-font-size: 12px;
$global-font: $open-sans;
$global-font-color: $black;
$secondary-font-color: $white;
$tertiary-font-color: $secondary-color;

$h1-font-size: 56px;
$h2-font-size: 36px;
$h3-font-size: 32px;
$h4-font-size: 28px;
$h5-font-size: 22px;
$h6-font-size: 18px;