.include--block {
    padding-bottom: 30px;
    border-top: 25px solid transparent;
    border-bottom: 10px solid;
    border-bottom-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        background-color: white;
        transition: linear top 0.5s;
    }

    &.accent-yellow {
        border-bottom-color: $gold-yellow;
        &:before {
            background-color: $gold-yellow;
        }
    }

    &.accent-orange {
        border-bottom-color: $orange;
        &:before {
            background-color: $orange;
        }
        &:hover {
            .text_date {
                color: white;
            }
        }
    }

    &.accent-green {
        border-bottom-color: $green;
        &:before {
            background-color: $green;
        }
    }

    &.accent-blue {
        border-bottom-color: $lt-blue;
        &:before {
            background-color: $lt-blue;
        }
    }

    &:hover {
        text-decoration: none;
        &:before {
            top: 0;
        }
        //color: white;
        .text_date {
            color: white;
        }
    }

    @keyframes slideUp {
        100% {
          transform: rotateZ(60deg) translate(0);
          -webkit-transform: rotateZ(60deg) translate(0);
          -moz-transform: rotateZ(60deg) translate(0);
        }
      }

    span {
        display: block;
        width: 100%;
        z-index: 500;
    }
    .featured_image {
        margin-bottom: 20px;
        display: block;
        position: relative;
        overflow: hidden;
        // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
        padding-top: 75%;
        position: relative;
        
        img {
            position: absolute;
            border: 0;
            height: auto;
            width: 100%;
            left: 0%;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    .featured_video {
        margin-bottom: 20px;
        display: block;
        overflow: hidden;
        // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
        //padding-top: 56.25%;
        // 4:3 aspect ratio
        padding-top: 75%;
        position: relative;
    }
    
    .featured_video iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .text_date{
        font-weight: bold;
        font-size: $small-font-size;
        color: $orange;
        padding: 0 20px;
    }
    .text_title {
        font-weight: bold;
        color: #000000;
        padding: 0 20px;
    }
}

/* Page */
.include--page {}

/* Post */
.include--post {}

/* Bio */
.include--bio {}

/* Donor */
.include--donor {}

/* Download */
.include--download {
    .featured_image {  
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #0e2a46;
            opacity: 0.9;
            top: 0;
            left: 0;
            z-index: 10;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/icon-pdf.png') no-repeat center;
            z-index: 20;
        }
    }
}

/* Video */
.include--video {
}