#search-results {
    .result_count {
        text-align: center;
        padding: 40px 0;
        font-size: $h1-font-size;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .no_result {
        display: none;
    }
}

.search_tabs {
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 20%);
    margin-bottom: 20px;
    a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 18px 60px;
        color: $green-dark;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $small-font-size;
        &.active {
            background: $green;
            color: $white;
        }
        &:hover {
            text-decoration: none;
            opacity: 0.8;
        }
        @include media-breakpoint-up(sm) {
            width: auto;
            display: inline-block;
            text-align: left;
        }
    }
    li {
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: auto;
        }
    }
}