.single-content {
    ul {
        list-style: none; /* Remove default bullets */
      }
      
      ul>li::before {
        content: "\2022";  
        color: $orange; 
        font-weight: bold; 
        display: inline-block; 
        width: 1.2em;
        font-size: 20px;
        line-height: 1.2;
        margin-left: -1em;
      }
}