.accordion {
    text-align: left;
    .card {
        margin-bottom: 10px;
        border-bottom: solid 5px $gold-yellow !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0 !important;
    }
    .card-header {
        border: none;
        position: relative;
        font-weight: bold;
        &>[role="button"] {
            cursor: pointer;
        }
    }
    .mb-0 {
        position: relative;
        padding-right: 10%;
        padding-left: 10%;
        min-height: 40px;
        &:before {
            content: 'Q';
            position: absolute;
            left: 0;
            top: -7px;
            color: $lt-blue;
            font-size: 35px;
            font-weight: bold;
        }
    }
    .rotate-icon {
        right:0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $lt-blue;
        font-size: 50px;
    }
    .mb-0[aria-expanded="true"] {
        .rotate-icon {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    div[data-parent="#accordion"] {
        background: $gold-yellow;
    }
    .card-body {
        padding: 0.75rem 1.25rem;
        .card-body-content {
            position: relative;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 0;
            padding-bottom: 0;
            &:before {
                content: 'A';
                position: absolute;
                top:0;
                left: 0;
                color: $orange;
                font-size: 35px;
                font-weight: bold;
            }
        }
    }
}
