.altImg {
    border-bottom: 10px solid;
    
    img {
        width: 100%;
    }
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
    padding: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
	box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
}
.altVideo {
    border-bottom: 10px solid;
    
    iframe, embed {
        width: 100%;
    }
    padding: 0;
}
.altText-container {
    margin: auto;
    padding: 30px;
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }
    @include media-breakpoint-up(md) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
}

.altText {
    margin-bottom: 40px;
}

.alternating-row {
    width: 100%;
    display: block;
    clear: both;
    
    .altImg {
        border-bottom-color: $gold-yellow;
        position: relative;
        &:before {
            content: '';
            background-image: url('../images/diamondplate.png');
            background-position: left bottom;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -20%;
            left: -25%;
            z-index: -1;
        }
    }
    &:nth-child(even){
        .altText-container{
            @include media-breakpoint-up(sm) {
                @include make-col-offset(0);
            }
            @include media-breakpoint-up(lg) {
                @include make-col-offset(-12);
            }
        }
        .altImg {
            float: right;
            border-bottom-color: $green;
            &:before {
                background-position: right bottom;
                left: 25%;
            }
            @include media-breakpoint-up(sm) {
                @include make-col-offset(0);
            }
            @include media-breakpoint-up(lg) {
                @include make-col-offset(6);
            }
        }
        .altVideo {
            float: right;
            @include media-breakpoint-up(sm) {
                @include make-col-offset(0);
            }
            @include media-breakpoint-up(lg) {
                @include make-col-offset(6);
            }
        }
    }
    &:nth-child(3n){
        .altImg {
            border-bottom-color: $orange;
        }
    }
}
