// Banner
.banner {
	background-blend-mode: saturation;
	filter: contrast(150%);
	position: relative;
	.banner-row {
		background-blend-mode: multiply;
		// background-color: rgba(50, 160, 255, 0.2);
		.banner-overlay {
			// background-blend-mode: multiply;
			// background-color: rgba(0,107,179, 0.6);
			&.form {
				background-color: rgba(50, 160, 255, 0.2);
			}
			&.cta {
				background-color: rgba(255, 208, 62, 0.4);
			}
			.btn, .gform_button {
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
		}
		.container {
			.banner-content {
				text-align: center;
				.title {
					font-size: 50px;
					line-height: 1;
				}
				p {
					//color: $white;
					margin-bottom: 30px;
				}
			}
		}
	}
}
.banner.no_padding {
	.banner-row {
		.container {
			.banner-content {
				padding: 80px 0;
			}
		}
	}
	
}