// content
.content {
    background-blend-mode: saturation;
    filter: contrast(150%);
    position: relative;
    .content-overlay {
        background-blend-mode: multiply;
        background-color: rgba(50, 160, 255, 0.2);
    }
    .content-content {
        .title {
            font-size: 50px;
            text-align: center;
            line-height: 1;
        }
        p {
            margin-bottom: 30px;
        }
        ul {
            list-style: none; /* Remove default bullets */
        }
        
        ul>li::before {
            content: "\2022";  
            color: $orange; 
            font-weight: bold; 
            display: inline-block; 
            width: 1.2em;
            font-size: 20px;
            line-height: 1.2;
            margin-left: -1em;
        }
    }
}
.content.no_padding {
    .content-content {
        padding: 80px 0;
    }
}