// Hero
.carousel-caption {
	right: auto;
	bottom: auto;
	top: 10%;
	max-width: 75%;
	text-align: left;
	text-transform: uppercase;
	h5 {
		font-size: 40px;
	}
	.btn {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
.carousel-indicators {
	margin-bottom: 3rem;
	li {
		width: 12px;
		height: 12px;
		border-radius: 12px;
		margin: 0 8px;
	}
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 40px;
	height: 40px;
}
.hero_video_container, .carousel-item {
	width: 100%;
	height: 25vh;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.hero_video {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
	transition: none;
}

@include media-breakpoint-up(sm) {
	.hero_video_container, .carousel-item {
		height: 50vh;
	}
}

@include media-breakpoint-up(lg) {
	.carousel-caption {
		top: 30%;
		max-width: 65%;
		h5 {
			font-size: 70px;
		}
	}
	.hero_video_container, .carousel-item {
		width: 100%;
		height: 80vh;
	}
}