section.logo {
    background: url('../images/texture.png') no-repeat;
    background-size: cover;
    text-align: center;
}
.logo-img-container {
    padding: 10px;
    a {
        padding: 20px;
        background: white;
        display: block;
    }
}

.logo-img {
    height:250px; 
    width:100%; 
    margin: auto;
    display: block;
    background: white;
    background-size: 80%;
    background-position:50%; 
    background-repeat:no-repeat;
    &:hover {
        transform: scale(1.2);
        transition: all .5s;
    }
}

.logo_more {
    text-align:center;
    padding-top: 60px;
}

@media (max-width: 992px) {
    .logo-img {
        background-size: contain;
    }
}