.map-container {
    text-align: center;
    .map-title {
        display: block;
        position: relative;
        color: $tb-blue;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 30px;
        &:after {
            content: '';
            position: absolute;
            bottom: -28px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 28px 41.5px 0 41.5px;
            border-color: #ffffff transparent transparent transparent;
        }
    }
}