.one_thid_row {
    margin: 30px 0;
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
    }
    h4 {
        font-size: 18px;
    }
    .one-third-title h4 {
        font-size: 24px;
    }
}
.one-third-text-container {
    margin-bottom: 30px;
    a {
        color: $orange;
        text-decoration: underline;
    }
    
}