.social {
    background-color: $gray;
    background-image: url(../images/paint_brush.png);
    background-position: 0;
    background-attachment: fixed;
    //background-size: contain;
    .social_wrap {
        background-color: #FFF;
        padding: 0;
        margin: 0 15px 20px;
    }
    .social_news_section {
        padding-bottom: 95px;
        .col-sm {
            background-color: #FFF;
            padding: 0;
            margin: 0 15px 20px;
        }
    }
    .include--block {
        border-top: 0px;
    }
    .full_news {
        margin: 50px auto;
    }
    .you_tube_frame {
        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .social_button {
        @include media-breakpoint-up(sm) {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .social_link {
        width: 100%;
        margin: 0;
    }
    a {
        margin: 0;
    }
    .youtubeWrapper {
        margin: auto;
    }
}

.twitter-timeline {
    width: 100vw !important;
}