.tab-content {
  position: relative;
}
.m-tab-collapse {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.tabbed-post-wrap {
    position: unset;
    border-bottom: solid 10px $green;
    margin-bottom: 50px;
    padding-bottom: 20px;
    transition: all 1s ease;
    @include media-breakpoint-up(sm) {
        padding-right: 0;
        padding-left: 0;
        margin-right: 1%;
        margin-left: 1%;
        flex: 0 0 31.33333%;
        max-width: 31.33333%;
    }
    &.tb_bios {
       .button {
           width: 20px;
           height: 20px;
           display: block;
           float: right;
           text-decoration: none;
           font-size: 40px;
           position: relative;
           line-height: 0.5;
           color: $lt-blue;
           &:before {
               content: "\f107";
               font-family: 'FontAwesome';
               position: absolute;
               top: 0;
               right: 5px;
               transition: all 0.5s ease;
           }
           &.clicked {
               &:before {
                   transform: rotate(180deg);
                   font-family: 'FontAwesome';
                   position: absolute;
                   top: 0;
                   right: 5px;
                   transition: 0.5s ease;
               }
           }
       } 
    }
    &.open {
        background:  $callout;
        border-bottom-color: transparent;
    }
    .text_title {
        padding: 10px 10px 0;
        font-size: 22px;
        font-weight: bold;
    }
    .text_link {
        padding: 0 10px;
    }
    .text_job_title {
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
    }
}
.tab-pane {
  .slide {
    width:101%;
    left: 0;
    overflow-y: hidden;
    background: $callout;
    padding: 20px;
    border-bottom: solid 10px $green;
    @include media-breakpoint-up(sm) {
      margin-left: 1%;
      margin-right: 1%;
      left: -4px;
    }
    &.bio_open {
        display: block;
        max-height: 0;
        margin-bottom: 50px;
        animation: expand 1s ease-out forwards;
    }
    .close {
        color: $orange;
        padding-bottom: 10px;
    }
    .secondary_image {
        vertical-align: top;
        @include media-breakpoint-up(sm) {
            float: left;
            width: 30%;
            padding: 0 30px 30px 0;
        }
        img {
            width: 100%;
        }
    }
    .slide-content-wrap {
        width: 100%;
        vertical-align: top;
        .h4, .h6 {
            margin: 0;
        }
        padding-top: 10px;
        @include media-breakpoint-up(sm) {
          padding-top: 0;
        }
    }
  }
  .tabbed-expanded-bg {
    background-color: #ebebeb;
    border-bottom: solid 10px #ebebeb;
  }
}
@keyframes expand {
  0% {padding: 0 2.5%; max-height: 0; opacity: 0;}
  100% {padding: 2.5%; max-height:100vh; opacity: 1;}
}