.two-column {
    .two-col-img {
        min-height: 200px; 
        width: 100%; 
        background-size: 100%;
        background-position: 50%; 
        background-repeat: no-repeat;
        padding: 20px;
        background-blend-mode: multiply;
        background-color:rgba(0, 0, 0, 0.5);
        position: relative;
        color: #FFFFFF;
        -webkit-transition: background-size 2s; /* Safari prior 6.1 */
        transition: background-size 2s;
        background-blend-mode: saturation;
        filter: contrast(150%);
        @include media-breakpoint-up(sm) {
            min-height: 300px; 
        }
        @include media-breakpoint-up(lg) {
            min-height: 400px; 
        }
        &:before {
            content: '';
            background-blend-mode: multiply;
            background-color: rgba(255, 208, 62, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        &:hover {
            background-size: 150%;
        }
        h2 {
            z-index: 500;
            text-align: center;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
    }
    .two-col-img-container {
        padding: 20px;
        text-align: center;
        &:nth-child(even) {
            .two-col-img {
                &:before {
                    background-color: rgba(255, 137, 29, 0.4);
                }
            }
        }
    }
}